# Importing Library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Loading Data

In [2]:
data = pd.read_csv('advertising.csv')

### Check the data

In [3]:
data

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

## Data Preprocessing

### Handling NULL Values

In [5]:
data = data.dropna()

In [6]:
data.shape # no null values in this data

(200, 4)

## Spliting data

### spliting data to input and output data

In [7]:
x = data.drop('Sales', axis=1) # axis 0 = row, axis 1 = col

In [8]:
# input data
x.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [9]:
# output data
y = data['Sales']

In [10]:
y.head()

0    22.1
1    10.4
2    12.0
3    16.5
4    17.9
Name: Sales, dtype: float64

In [11]:
x.shape

(200, 3)

In [12]:
y.shape

(200,)

## Spliting data using sklearn

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [15]:
x_train.shape

(150, 3)

In [16]:
y_train.shape

(150,)

In [17]:
x_test.shape

(50, 3)

In [18]:
y_test.shape

(50,)

## Linear Regression

### Training model

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
reg = LinearRegression()

In [21]:
reg.fit(x_train, y_train) # Train the model

LinearRegression()

In [22]:
reg

LinearRegression()

In [23]:
y_pred = reg.predict(x_test)

In [24]:
from sklearn.metrics import mean_squared_error

In [25]:
error = mean_squared_error(y_test, y_pred)

In [26]:
error

2.9686277527625493

In [34]:
reg.predict([[177.0, 9.3, 6.4]])

C:\Users\Abhishek\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([15.31036983])

In [42]:
reg.score(x_test, y_pred)

1.0