# Importing Library

In [1]:
# There is the python libraries

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

## Loading Data

In [2]:
# pd.read_csv :- Are used to read data we are used advertising.csv file for the model train data

data = pd.read_csv('advertising.csv')

### Check the data

In [3]:
# print the data

data

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [4]:
# data.info() :- there are used to check in this data there have any null values are present or not.
#                because we tarin the data they have any null values are present in the dataset they effect on there model predication output value 

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

## Data Preprocessing

### Handling NULL Values

In [5]:
# data.dropna() :- They are used to remove the null values are present in the dataset.

data = data.dropna()

In [6]:
# data.shape :- Tells the number of rows and columns are present dataset.

# eg. (200(row), 4(col))

data.shape # no null values in this data

(200, 4)

## Spliting data

### spliting data to input and output data

 Click here to check **x** dataset :- https://github.com/abhishek96k/RegressionModel/blob/main/X.jpeg

In [7]:
# In this step we will split the data into two parts x are shows the input dataset & y are shows the output dataset
# x :- They are represent the value of TV, Radio and Newspaper. This is the input data.

x = data.drop('Sales', axis=1) # axis 0 = row, axis 1 = col

In [8]:
# x :- are showing the input data only they not consider Sales column because there is output of the dataset.

x.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

Click here to check **y** dataset :- https://github.com/abhishek96k/RegressionModel/blob/main/Y.jpeg

In [9]:
# y :- we are store the output data in y coloumn.

y = data['Sales']

In [10]:
# print the output dataset(Sales coloumn)

y.head()

0    22.1
1    10.4
2    12.0
3    16.5
4    17.9
Name: Sales, dtype: float64

In [11]:
# print the number of rows and columns are present in x assigned dataset.

x.shape

(200, 3)

In [12]:
# print the number of rows and columns are present in y assigned dataset.

y.shape

(200,)

## Spliting data using sklearn

In [13]:
# train_test_split :- This library are used to split data into 4 parts. (x_train, x_test, y_train, y_test)
# Here x is represet a input value and y is represent a output values.

from sklearn.model_selection import train_test_split

In [14]:
# train_test_split(x, y) :- this function are used to train the data using x and y values.

x_train, x_test, y_train, y_test = train_test_split(x, y)

Click here to check **x_train, x_test, y_train, y_test** dataset :- https://github.com/abhishek96k/RegressionModel/blob/main/SplitData.jpg

In [15]:
# X_train :- In this model they are used a 150 row and 3 coloumn to train the x_train values.

x_train.shape

(150, 3)

In [16]:
# y_train :- In this model they are used a 150 row and last(sales) coloumn to train the y_train values. 

y_train.shape

(150,)

In [17]:
# X_test :- In this model they are used a 150 to 200 rows and 3 coloumn to train the x_test values.

x_test.shape

(50, 3)

In [18]:
# y_test :- In this model they are used a 150 to 200 rows and last(sales) coloumn to train the y_test values.

y_test.shape

(50,)

## Linear Regression

### Training model

In [19]:
# LinearRegression :- Is a LinearRegression library they are used to work on linearRegression model

from sklearn.linear_model import LinearRegression

In [20]:
# reg :- reg is LinearRegression model

reg = LinearRegression()

In [21]:
# reg.fit :- They are used to train the model as LinearRegression. In this model we use x_train and y_train values.

reg.fit(x_train.values, y_train) # Train the model

LinearRegression()

In [22]:
reg

LinearRegression()

In [23]:
# y_pred :- Is a predicted output
# reg.predict :- Predict the output using x_test data

y_pred = reg.predict(x_test.values)

In [24]:
# mean_squared_error :- measures the average of error squares i.e. the average squared difference between the estimated values and true value

from sklearn.metrics import mean_squared_error

In [25]:
error = mean_squared_error(y_test, y_pred)

In [26]:
error

1.7345103527626031

In [27]:
# reg.predict :- Your model is ready to predict the output for the given values.
# [177.0, 9.3, 6.4]:-  there is the input value eg. (TV = 177.0 Radio = 9.3 Newspaper = 6.4) 

reg.predict([[177.0, 9.3, 6.4]]) # predict sales value

array([15.12717552])

In [28]:
# R2 score is used to evaluate the performance of a linear regression model

from sklearn.metrics import r2_score

In [29]:
r2_score(y_test, y_pred)

0.9426735800992346